.body-material {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 98vh;
    width: 100%;
    /* min-height: 100vh; */
    background: rgb(2, 0, 36);
    background: linear-gradient(30deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 29%,
            rgba(0, 212, 255, 1) 100%)
}

.content-material {
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.logo-content{
    width: 100%;
    height: 130px;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-content h1{
    font-size: 35px;
    font-family: 'Arimo', sans-serif;
    /* background-color: #ffffff; */
    margin-left: 10px;
    margin-bottom: 30px;
}

.form-content{
    width: 98%;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    /* background-color: rebeccapurple; */
}
